#fontbody h1
{
	font: 30px Georgia;
}
#fontbody h2
{
	font: 20px Georgia;
}
#fontbody p
{
	font: 18px Georgia;
}
#mars
{
	background-size: 250px;
	width: 250px;
	height: 250px;
}
#saturn
{
	background-size: 250px;
	width: 250px;
	height: 250px;
}
#mercury
{
	background-size: 250px;
	width: 250px;
	height: 250px;
}
#neptune
{
	background-size: 250px;
	width: 250px;
	height: 250px;
}
#tblfont
{
	font: 16px Georgia;
	margin-top: 50px;
	margin-left: 50px;
}