#fontbody
{
	background-color: #21374B;
	color: #E7DACB;
}
#fontbody h1
{
	font: 50px Georgia;
	margin-top: 30px;
	margin-left: 50px;
}
#fontbody h2
{
	font: 30px Georgia;
	margin-top: 50px;
	margin-left: 50px;
	margin-bottom: 20px;
}
#fontbody p
{
	font: 20px Georgia;
	margin-top: 20px;
	margin-left: 50px;
}
#rock
{
	margin-left: 50px;
}
#mars
{
	margin-top: 50px;
	margin-left: 50px;
	background-size: 250px;
	width: 250px;
	height: 250px;
}
#saturn
{
	margin-top: 50px;
	background-size: 250px;
	width: 250px;
	height: 250px;
}
#mercury
{
	margin-top: 50px;
	background-size: 250px;
	width: 250px;
	height: 250px;
}
#neptune
{
	margin-top: 50px;
	background-size: 250px;
	width: 250px;
	height: 250px;
}
#tblfont
{
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 50px;
	text-align: center;
	background-color: #000000;
	border-radius: 10px;
}
#tblfont th
{
	border: 2px solid #E7DACB;
	padding: 5px 20px;
	font: 16px Georgia;
	font-weight: bold;
}
#tblfont td
{	
	border-bottom: 2px solid #E7DACB;
	padding: 0px 5px;
	font: 16px Georgia;
	font-weight: bold;
}
tr:hover
{
	 background-color: gold;
}

