#fontbody
{
	background-color: #21374B;
	color: #E7DACB;
}
#fontbody h1
{
	font: 30px Georgia;
}
#fontbody h2
{
	font: 20px Georgia;
}
#fontbody p
{
	font: 18px Georgia;
}
#mars
{
	margin-top: 50px;
	margin-left: 50px;
	background-size: 250px;
	width: 250px;
	height: 250px;
}
#saturn
{
	margin-top: 50px;
	background-size: 250px;
	width: 250px;
	height: 250px;
}
#mercury
{
	margin-top: 50px;
	background-size: 250px;
	width: 250px;
	height: 250px;
}
#neptune
{
	margin-top: 50px;
	background-size: 250px;
	width: 250px;
	height: 250px;
}
#tblfont
{
	font: 16px #E7DACB Georgia;
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 130px;
	border: 2px solid #000000;
	background-color: #000000;
}
#tblfont th
{
	font: 18px Georgia;
	border: 2px solid #000000;
}
#tblfont td
{
	font: 18px Georgia;
	border: 2px solid #000000;
}